
<h1>Dragon Ball</h1>
<hr>

<div class="row">


  <!-- [Personajes or data] -- Es una propiedad de app-personajes [personajes]="personajes"-->
  <!-- personajes -- se encuentra en mi main-page.component.ts -->

  <div class="col">
    <app-personajes>
    </app-personajes>
  </div>



  <div class="col">
    <app-agregar
     [nuevo]="nuevo"
     ></app-agregar>
  </div>

</div>

<!-- (onNuevoPersonaje)="agregarNuevoPersonaje($event)" -->
<!-- [value] - Las llaves cuadradas con importantes para establecer alguna propiedad a el objeto -->
<!-- (click) --- Parentesis es para emitir o escuchar eventos  -->
<!-- [value]= "nuevo.nombre"
(input)="cambiarNombre($event)" -->
<!-- [()] -- Escuchar y emitir el evento  -->
